{
  "FLAVOR": "dev",
  "API_URL_DOMAIN": "localhost",
  "API_URL_RELATIVE_PATH": "/api/",
  "API_USE_HTTPS": "false",
  "APP_METRICA_API_KEY": "",
  "ENABLE_FIREBASE": "false",
  "USE_MOCK_AUTH_API": "true",
  "USE_MOCK_SHOP_API": "true",
  "SHOW_DEBUG_BANNER": "true",
  "LOCALE_MODE": "russianAndEnglish",
  "LIVEKIT_URL": "",
  "FIREBASE_ANDROID_API_KEY": "",
  "FIREBASE_ANDROID_APP_ID": "",
  "FIREBASE_IOS_API_KEY": "",
  "FIREBASE_IOS_APP_ID": "",
  "FIREBASE_MESSAGING_SENDER_ID": "",
  "FIREBASE_PROJECT_ID": "",
  "FIREBASE_STORAGE_BUCKET": "",
  "FIREBASE_IOS_BUNDLE_ID": "com.base.base-flutter-proj"
}
