{
  "FLAVOR": "prod",
  "API_URL_DOMAIN": "api.myapp.com",
  "API_URL_RELATIVE_PATH": "/api/",
  "API_USE_HTTPS": "false",
  "APP_METRICA_API_KEY": "",
  "ENABLE_FIREBASE": "false",
  "USE_MOCK_AUTH_API": "false",
  "USE_MOCK_SHOP_API": "false",
  "USE_MOCK_DYNAMIC_FORM_API": "false",
  "SHOW_DEBUG_BANNER": "false",
  "LOCALE_MODE": "russianOnly",
  "LIVEKIT_URL": "",
  "FIREBASE_ANDROID_API_KEY": "",
  "FIREBASE_ANDROID_APP_ID": "",
  "FIREBASE_IOS_API_KEY": "",
  "FIREBASE_IOS_APP_ID": "",
  "FIREBASE_MESSAGING_SENDER_ID": "",
  "FIREBASE_PROJECT_ID": "",
  "FIREBASE_STORAGE_BUCKET": "",
  "FIREBASE_IOS_BUNDLE_ID": "com.example.baseFlutterProj.prod"
}
